<?if $(sys.BUILDARCH)="x86"?>
    <?define Win64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?elseif $(sys.BUILDARCH)="x64"?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else?>
    <?error Unsupported value of sys.BUILDARCH=$(sys.BUILDARCH)?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product
            Id="*"
            Name="{{product_name}}"
            UpgradeCode="{{upgrade_code}}"
            Language="!(loc.CargoPackagerLanguage)"
            Manufacturer="{{manufacturer}}"
            Version="{{version}}">

        <Package Id="*"
                 Keywords="Installer"
                 InstallerVersion="450"
                 Languages="0"
                 Compressed="yes"
                 InstallScope="perMachine"
                 SummaryCodepage="!(loc.CargoPackagerCodepage)"/>

        {{#if allow_downgrades}}
        <Upgrade Id="{{upgrade_code}}">
            <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="{{version}}" IncludeMaximum="no" Property="WIX_UPGRADE_DETECTED" />
        </Upgrade>
        {{else}}
        <Upgrade Id="{{upgrade_code}}">
            <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="{{version}}" IncludeMaximum="no" Property="WIX_UPGRADE_DETECTED" />
            <UpgradeVersion Minimum="{{version}}" IncludeMinimum="no" Property="WIX_DOWNGRADE_DETECTED" OnlyDetect="yes" />
        </Upgrade>
        <Condition Message="!(loc.DowngradeErrorMessage)">NOT WIX_DOWNGRADE_DETECTED</Condition>
        {{/if}}

        <InstallExecuteSequence>
            <RemoveShortcuts>Installed AND NOT UPGRADINGPRODUCTCODE</RemoveShortcuts>
            <RemoveExistingProducts After="InstallInitialize">WIX_UPGRADE_DETECTED</RemoveExistingProducts>
            <Custom Action="SetNovapadExePath" Before="WriteRegistryValues">NOT Installed</Custom>
        </InstallExecuteSequence>

        <Media Id="1" Cabinet="app.cab" EmbedCab="yes" />

        {{#if banner_path}}
        <WixVariable Id="WixUIBannerBmp" Value="{{banner_path}}" />
        {{/if}}
        {{#if dialog_image_path}}
        <WixVariable Id="WixUIDialogBmp" Value="{{dialog_image_path}}" />
        {{/if}}
        {{#if license}}
        <WixVariable Id="WixUILicenseRtf" Value="{{license}}" />
        {{/if}}

        {{#if icon_path}}
        <Icon Id="ProductIcon" SourceFile="{{icon_path}}"/>
        <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
        {{/if}}
        <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
        <SetProperty Id="ARPNOMODIFY" Value="1" After="InstallValidate" Sequence="execute"/>
        <Property Id="NOVAPAD_EXE_PATH" Secure="yes" />
        <CustomAction Id="SetNovapadExePath" Property="NOVAPAD_EXE_PATH" Value="[INSTALLDIR]novapad.exe" />

        <!-- initialize with previous InstallDir -->
        <Property Id="INSTALLDIR">
            <RegistrySearch Id="PrevInstallDirReg" Root="HKCU" Key="Software\\{{manufacturer}}\\{{product_name}}" Name="InstallDir" Type="raw"/>
        </Property>

        <!-- launch app checkbox -->
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.LaunchApp)" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
        <Property Id="WixShellExecTarget" Value="[!Path]" />
        <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

        <UI>
            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
            <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

            {{#unless license}}
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg" Order="2">1</Publish>
            <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3">1</Publish>
            {{/unless}}
        </UI>

        <UIRef Id="WixUI_FeatureTree" />
        <UIRef Id="WixUI_ErrorProgressText" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="CommonDesktopFolder" Name="Desktop" />
            <Directory Id="$(var.PlatformProgramFilesFolder)" Name="PFiles">
                <Directory Id="INSTALLDIR" Name="{{product_name}}"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="{{product_name}}"/>
            </Directory>
        </Directory>

        <DirectoryRef Id="INSTALLDIR">
            <Component Id="RegistryEntries" Guid="*">
                <RegistryKey Root="HKLM" Key="Software\\{{manufacturer}}\\{{product_name}}">
                    <RegistryValue Name="InstallDir" Type="string" Value="[INSTALLDIR]" KeyPath="yes" />
                </RegistryKey>
            </Component>

            <Component Id="Path" Guid="{{path_component_guid}}" Win64="$(var.Win64)">
                <File Id="Path" Source="{{app_exe_source}}" KeyPath="yes" Checksum="yes">
                    <Shortcut Id="ApplicationStartMenuShortcut"
                        Directory="ApplicationProgramsFolder"
                        Name="{{product_name}}"
                        Description="Runs {{product_name}}"
                        {{#if icon_path}}Icon="ProductIcon"{{/if}}
                        Advertise="yes">
                        <ShortcutProperty Key="System.AppUserModel.ID" Value="{{identifier}}"/>
                    </Shortcut>
                </File>
                <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall"/>
            </Component>

            {{#if file_associations}}
            <Component Id="FileAssociations" Guid="*" Win64="$(var.Win64)">
                <RegistryValue Root="HKLM" Key="Software\\{{manufacturer}}\\{{product_name}}" Name="File Associations" Type="integer" Value="1" KeyPath="yes" />
                {{#each file_associations as |association| ~}}
                {{#each association.extensions as |ext| ~}}
                <ProgId Id="{{../../product_name}}.{{ext}}" Description="{{association.description}}">
                    <Extension Id="{{ext}}">
                        <Verb Id="open" Command="Open with {{../../product_name}}" Argument="&quot;%1&quot;" TargetProperty="NOVAPAD_EXE_PATH" />
                    </Extension>
                </ProgId>
                {{/each~}}
                {{/each~}}
            </Component>

            <Component Id="ContextMenu" Guid="*" Win64="$(var.Win64)">
                <RegistryValue Root="HKLM" Key="Software\\{{manufacturer}}\\{{product_name}}" Name="Context Menu" Type="integer" Value="1" KeyPath="yes" />
                {{#each file_associations as |association| ~}}
                {{#each association.extensions as |ext| ~}}
                <RegistryKey Root="HKLM" Key="Software\Classes\SystemFileAssociations\.{{ext}}\shell\OpenWithNovapad">
                    <RegistryValue Type="string" Value="Open with {{../../product_name}}" />
                    <RegistryKey Key="command">
                        <RegistryValue Type="string" Value="&quot;[INSTALLDIR]novapad.exe&quot; &quot;%1&quot;" />
                    </RegistryKey>
                </RegistryKey>
                {{/each~}}
                {{/each~}}
            </Component>
            {{/if}}

            {{#each binaries as |bin| ~}}
            <Component Id="{{ bin.id }}" Guid="{{bin.guid}}" Win64="$(var.Win64)">
                <File Id="Bin_{{ bin.id }}" Source="{{bin.path}}" KeyPath="yes"/>
            </Component>
            {{/each~}}
            {{resources}}

            <Component Id="CMP_UninstallShortcut" Guid="*">
                <Shortcut Id="UninstallShortcut" Name="Uninstall {{product_name}}" Description="Uninstalls {{product_name}}" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                <RemoveFolder Id="INSTALLDIR_REMOVE" Directory="INSTALLDIR" On="uninstall" />
                <RegistryValue Root="HKLM"
                               Key="Software\\{{manufacturer}}\\{{product_name}}"
                               Name="Uninstaller"
                               Type="integer"
                               Value="1"
                               KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="CommonDesktopFolder">
            <Component Id="ApplicationShortcutDesktop" Guid="*">
                <Shortcut Id="ApplicationDesktopShortcut" Name="{{product_name}}" Description="Runs {{product_name}}" Target="[INSTALLDIR]novapad.exe" WorkingDirectory="INSTALLDIR" {{#if icon_path}}Icon="ProductIcon"{{/if}} />
                <RemoveFolder Id="RemoveDesktopFolder" Directory="CommonDesktopFolder" On="uninstall" />
                <RegistryValue Root="HKLM" Key="Software\\{{manufacturer}}\\{{product_name}}" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <Feature Id="MainProgram" Title="Application" Description="!(loc.InstallAppFeature)" Level="1" ConfigurableDirectory="INSTALLDIR" AllowAdvertise="no" Display="expand" Absent="disallow">
            <ComponentRef Id="RegistryEntries"/>
            <ComponentRef Id="Path"/>
            <ComponentRef Id="CMP_UninstallShortcut" />
            {{#each resource_file_ids as |id| ~}}<ComponentRef Id="{{ id }}"/>{{/each~}}
            {{#each binaries as |bin| ~}}<ComponentRef Id="{{ bin.id }}"/>{{/each~}}

            <Feature Id="DesktopShortcutFeature" Title="Desktop Shortcut" Description="Create a desktop shortcut" Level="1" Absent="allow" Display="expand">
                <ComponentRef Id="ApplicationShortcutDesktop" />
            </Feature>

            {{#if file_associations}}
            <Feature Id="FileAssociationsFeature" Title="File Associations" Description="Associate file types with {{product_name}}" Level="1" Absent="allow" Display="expand">
                <ComponentRef Id="FileAssociations" />
            </Feature>
            <Feature Id="ContextMenuFeature" Title="Context Menu" Description="Add 'Open with {{product_name}}' to the context menu" Level="1" Absent="allow" Display="expand">
                <ComponentRef Id="ContextMenu" />
            </Feature>
            {{/if}}
        </Feature>

        <SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLDIR]" After="CostFinalize"/>
    </Product>
</Wix>
